.container_td{
    padding-top: 15px;
    word-break: break-all;
}
.label_despesa{
    color: #EA3232;
}
.label_receita{
    color: #5932EA;
}
td{
    font-weight: bold;
}
.button_delete{
    cursor: pointer;
}
.td_grid{
    display: flex;
    margin-left: 30px;
}